a {
    text-decoration: none;
}

.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
}

.demo-card-square > .mdl-card__title {
    margin: auto;
    width: 90%;
    color: black;
    /* background-color: aquamarine; */
    background:
        url('./img/RIT_NMID.png') bottom right 15% no-repeat;
}

.page-content {
    margin: 2em;
}

.view-pf-btn {
    width: 100%;
    color: #fff !important;
    background-color: black !important;
}

.interest-tags {
    margin-top: 1em;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 300px;
    white-space: nowrap;
}

.interest-tags button {
    cursor: pointer;
}

.text-space {
    margin-top: .5em;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

/*Custom Header styling*/
.mdl-layout__header-row {
    background-color: white;
    border-bottom: 1px solid black;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 2px 2px #cccccc;
}

.mdl-layout-spacer h4 {
    color: black;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
    font-weight: 900;
}

.mdl-layout__header-row button {
    position: relative;
    background: none;
    color: #fff;
    font-size: 16px;
    font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    background-color: #f76902;
    border: none;
    border: 3px solid transparent;
    padding: 6px 12px;
    margin: 4px;
    box-sizing: border-box;
    top: 12px;
    font-weight: 800;
}

.mdl-layout__header-row button:hover {
    cursor: pointer;
    background-color: #c75300;
    border: 3px solid transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.ritheaderlogo {
    position: relative;
    width: 100%;
    margin-bottom: 32px;
    padding: 16px;
    display: none;
}

.ritheaderlogo img {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
}

.navritlogo {
    display: block;
}

.ritbutton {
    display: block;
}

.filterritbutton {
    display: none;
    height: auto;
    padding: 12px;
}

.filterritbutton button {
    background: none;
    background-color: #c75300;
    border: 3px solid transparent;
    width: 100%;
    padding: 4px 16px;
    margin-bottom: 16px;
}

.filterritbutton button:first-child {
    position: relative;
    background: none;
    color: #fff;
    font-size: 16px;
    font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    background-color: #f76902;
    border: none;
    border: 3px solid transparent;
    padding: 6px 12px;
    margin: 4px;
    box-sizing: border-box;
    top: 12px;
    font-weight: 800;
}

/* Contact button */
#contact {
    background-color: #eaeaea;
    color: #212529;
    border: solid 2px #eaeaea;
    font-weight: 400;
    border: 3px solid transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

#contact:hover {
    background-color: #b2b2b2;
}


div .mdl-layout__drawer-button {
    background-color: white !important;
    border: none;
    position: relative;
}

.material-icons {
    color: #212529;
}

.mdl-layout__header-row {
    background-color: white;
    color: black;
    border: 1px solid #dee2e6;
}

/*filter styling*/

.mdl-layout__drawer {
    margin-top: 66px;
    position: absolute;
}

.searchfield {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
}

.searchIcon {
    padding: 0 6px 0 0;
}

span.protoFilter {
    margin-top: -8px;
    font-weight: normal;
}

.mdl-list__item-secondary-action {
    position: absolute;
    left: 48px;
    max-width: 168px;
}

.mdl-list {
    margin-top: -24px;
}

.boldtitle {
    color: #000000;
}

#showMoreMajor {
    margin-bottom: 36px;
}

#showMoreMajor,
#showMoreInterest {
    box-shadow: none;
    text-align: left;
    text-transform: lowercase;
    font-style: italic;
    border-top: 1px solid #666666;
    color: #666666;
    background: none;
    margin: 0 12px;
}

.mdl-list__item-secondary-action {
    padding-top: 0px !important;
}

/*breadcrumb link styling*/
#breadcrumb a {
    text-decoration: none;
    font-weight: bold;
    color: #F76902;
}

/*add page styling*/
#content {
    max-width: 60vw;
    margin: 24px auto;
}

.formline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.flex-object {
    margin-right: 12px;
    margin-bottom: 6px;
}

br {
    height: 32px;
}

#moreMajor {
    display: none;
}

#moreInterest {
    display: none;
}

#submitButton {
    background-color: #F76902;
    box-shadow: none;
    font-weight: bold;
}

#submitButton:hover {
    background-color: #c75300;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

#cancelButton,
.mdl-button mdl-js-button mdl-button--raised {
    background-color: #eaeaea;
    box-shadow: none;
}

#cancelButton:hover,
.mdl-button mdl-js-button mdl-button--raised:hover {
    background-color: #b2b2b2;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

button.mdl-chip:focus {
    background-color: #F76902;
    color: #ffffff;
    font-weight: bold;
    box-shadow: none;
}

input.mdl-textfield__inputfull,
textarea.mdl-textfield__inputfull,
label.mdl-textfield__labelfull {
    width: 60vw;
}

select.dropdown {
    padding: 12px;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
    border: 1px solid #727578;
}

/*card design*/
.mdl-card__title {
    /* background-color: #f76902 !important;
    color: white !important; */
}

.demo-card-square {
    margin-bottom: 32px !important;
    float: left;
    margin-left: 32px;
}

.switcher {
    color: rgba(0, 0, 0, .87);
}




/*Mobile view*/

@media(max-width: 600px) {
    .demo-card-square {
        margin-left: 0px;
    }

    .ritheaderlogo {
        display: block;
    }

    .navritlogo {
        display: none;
    }

    .ritbutton {
        display: none;
    }

    .filterritbutton {
        display: block;
    }

    div .mdl-layout__drawer-button {
        top: 64px;
    }

    div.mobileheader-nofilter {
        margin: 0 auto;
    }

}

/*fixing z-index for tablet and mobile viewports*/

@media(max-width: 1024px) {
    .mdl-layout__header-row {
        z-index: 0;
    }

    .mdl-layout__drawer {
        margin-top: 0px;
    }
}

/*sizes message box on contact page for large screens*/

@media(min-width: 1175px) {

    input.mdl-textfield__inputfull,
    textarea.mdl-textfield__inputfull,
    label.mdl-textfield__labelfull {
        width: 35vw;
    }
}
