.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
}

.demo-card-square > .mdl-card__title {
    margin: auto;
    width: 90%;
    color: black;
    background-color: aquamarine;
    /* background:
        url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;*/
}

.page-content {
    margin: 2em;
}

.view-pf-btn {
    width: 100%;
    color: #fff !important;
    background-color: black !important;
}

.interest-tags {
    margin-top: 1em;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 300px;
    white-space: nowrap;
}

.interest-tags button {
    cursor: pointer;
}

.text-space {
    margin-top: .5em;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

/*Custom Header styling*/
.mdl-layout__header-row {
    background-color: white;
    border-bottom: 1px solid black;
}

.mdl-layout-spacer h4 {
    color: black;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
    font-weight: 900;
}

.mdl-layout__header-row button {
    position: relative;
    background: none;
    color: #fff;
    font-size: 16px;
    font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    background-color: #f76902;
    border: none;
    border: 3px solid transparent;
    padding: 6px 12px;
    margin: 4px;
    box-sizing: border-box;
    top: 12px;
    font-weight: 800;
}

.mdl-layout__header-row button:hover {
    cursor: pointer;
    background-color: #c75300;
    border: 3px solid transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

/* Contact button */
#contact {
    background-color: #eaeaea;
    color: #212529;
    border: solid 2px #eaeaea;
    font-weight: 400;
    border: 3px solid transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

#contact:hover {
    background-color: #b2b2b2;
}


div .mdl-layout__drawer-button {
    background-color: white !important;
    border: none;
}

.material-icons {
    color: #212529;
}

.mdl-layout__header-row {
    background-color: white;
    color: black;
    border: 1px solid #dee2e6;
}

/*filter styling*/

.mdl-list__item-secondary-action {
    position: absolute;
    left: 48px;
    max-width: 168px;
}

.mdl-list {
    margin-top: -24px;
}

#showMoreMajor {
    margin-bottom: 36px;
}

/*breadcrumb link styling*/
#breadcrumb a {
    text-decoration: none;
    font-weight: bold;
    color: #F76902;
}

/*add page styling*/
#content {
    max-width: 60vw;
    margin: 24px auto;
}

.formline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.flex-object {
    margin-right: 12px;
}

br {
    height: 32px;
}

#moreMajor {
    display: none;
}

#moreInterest {
    display: none;
}

#submitButton {
    background-color: #F76902;
    box-shadow: none;
    font-weight: bold;
}

#submitButton:hover {
    background-color: #c75300;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

#cancelButton, .mdl-button mdl-js-button mdl-button--raised {
    background-color: #eaeaea;
    box-shadow: none;
}

#cancelButton:hover, .mdl-button mdl-js-button mdl-button--raised:hover {
    background-color: #b2b2b2;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

button.mdl-chip:focus {
    background-color: #F76902;
    color: #ffffff;
    font-weight: bold;
    box-shadow: none;
}

input.mdl-textfield__inputfull, textarea.mdl-textfield__inputfull, label.mdl-textfield__labelfull{
    width: 60vw;
}

/*card design*/
.mdl-card__title {
    background-color: #f76902 !important;
    color: white !important;
}

.demo-card-square {
    margin-bottom: 32px !important;
    float: left;
    margin-left: 32px;
}

.switcher {
    color: rgba(0,0,0,.87);
}
